<header>
	<div class="nav">
		<div class="logo">
			<h1>LA RELIGIEUSE
				<br>
				A MOTEUR</h1>
		</div>
		<nav>
			<a href="">
				<h1>Menu</h1>
			</a>
			<a href="">
				<h1>Blog</h1>
			</a>
			<a href="">
				<h1>Ou nous trouver ?</h1>
			</a>
			<a href="">
				<img src="img/compte.png" alt="">
			</a>
			<a href="">
				<img src="img/panier.png" alt="">
			</a>
		</nav>
	</div>
	<div class="panier">
		<img src="img/panier.png" alt="">
	</div>
</header>
