{% extends 'base.html.twig' %}

{% block title %}La religieuse | Accueil
{% endblock %}

{% block body %}
	<div class="rech">
		<div class="bar">
			<h1>Recherche...</h1>
			<div class="logo">
				<img src="img/loupe.png" alt="">
			</div>
		</div>
	</div>

{% endblock %}
