.cat {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 5% 0%;
}

.cat h1 {
  font-size: 44px;
  color: black;
}

.cat .select {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5%;
}

.cat .select .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.cat .select .card a {
  margin: 20px 0;

}

.cat .select .card a #img {
  width: 250px;
  height: auto;
}

.cat .select .card h4 {
  font-size: 25px;
}

.cat .select .card p {
  padding: 10px 0;
}