$color_beige: #fce6da;
$color_vert: black;
$color_white: #fff;

.patMoment {
    padding-top: 4%;
    width: 80%;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 44px;
        color: $color_vert ;
    }

    .container-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .card {
            margin-top: 5%;
            width: 45%;
            height: 275px;
            padding: 20px;
            background-color: #fff;
            border-radius: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .texte-card {
                width: 75%;
                padding: 20px;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 12px;
                    padding: 15px 0px;
                    font-weight: 500;
                }

                a {
                    text-decoration: none;
                }

                button {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 50px;
                    color: rgb(79, 79, 79);
                    border: none;
                    font-weight: 400;
                    background-color: #fce6da;
                    padding: 5px 15px;
                    width: 75%;

                    svg {
                        transform: rotate(180deg);
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .photo {
                display: flex;
                justify-content: left;
                align-items: center;
                width: 55%;
                height: 110%;

                img {
                    width: 170%;
                    height: auto;
                }
            }

        }
    }
}