.cat {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5% 0%;

    h1 {
        font-size: 44px;
        color: $color_vert ;
    }

    .select {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 5%;

        .card {
            margin: 10px 0;
            padding: 20px 10px;
            width: 350px;
            background-color: #fff;
            border-radius: 10px;

            h4 {
                font-size: 25px;
            }

            p {
                padding: 10px 0;
            }
        }
    }
}


.list {
    display: flex;
    justify-content: center;
}

.liste_cont {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;

    .container_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .product_card {
            padding: 20px 0;
            width: 28%;

            a {
                text-decoration: none;
                color: black;
            }

            p {
                padding: 10px 0;
            }
        }
    }
}