$color_beige: #fce6da;
$color_vert: black;
$color_white: #fff;


header {
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 15vh;

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 95%;
        height: 100%;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45%;
            height: 100%;

            img {
                width: 55%;
                height: 90%;
            }
        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 55%;
            height: 100%;

            a {
                text-decoration: none;

                h1 {
                    font-size: 25px;
                    color: $color_vert;
                    text-transform: uppercase;
                }

                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .panier {
        display: none;
    }
}