@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
header {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 15vh;
}
header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 100%;
}
header .nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
}
header .nav .logo #Calque_1 {
  width: 350px;
  height: 550px;
}
header .nav nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  height: 100%;
}
header .nav nav a {
  text-decoration: none;
}
header .nav nav a h1 {
  font-size: 25px;
  color: black;
  text-transform: uppercase;
}
header .nav nav a svg {
  width: 40px;
  height: 40px;
}
header .panier {
  display: none;
}

.rech {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rech .bar {
  width: 40%;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 22px 0px #80726b;
  -webkit-box-shadow: 0px 10px 22px 0px #fce6da;
  -moz-box-shadow: 0px 10px 22px 0px #fce6da;
}
.rech .bar h1 {
  padding-left: 5%;
  color: #505050;
  font-size: 20px;
}
.rech .bar .logo {
  width: 25px;
  height: 25px;
  padding-right: 10%;
}
.rech .bar .logo img {
  width: 25px;
  height: 25px;
}

.patMoment {
  padding-top: 4%;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.patMoment h1 {
  font-size: 44px;
  color: black;
}
.patMoment .container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.patMoment .container-card .card {
  margin-top: 5%;
  width: 45%;
  height: 275px;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.patMoment .container-card .card .texte-card {
  width: 75%;
  padding: 20px;
}
.patMoment .container-card .card .texte-card h1 {
  font-size: 24px;
}
.patMoment .container-card .card .texte-card p {
  font-size: 12px;
  padding: 15px 0px;
  font-weight: 500;
}
.patMoment .container-card .card .texte-card a {
  text-decoration: none;
}
.patMoment .container-card .card .texte-card button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  color: rgb(79, 79, 79);
  border: none;
  font-weight: 400;
  background-color: #fce6da;
  padding: 5px 15px;
  width: 75%;
}
.patMoment .container-card .card .texte-card button svg {
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
}
.patMoment .container-card .card .photo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 55%;
  height: 110%;
}
.patMoment .container-card .card .photo img {
  width: 170%;
  height: auto;
}

.cat {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 5% 0%;
}
.cat h1 {
  font-size: 44px;
  color: black;
}
.cat .select {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5%;
}
.cat .select .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.cat .select .card a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.cat .select .card a #img {
  width: 250px;
  height: auto;
}
.cat .select .card h4 {
  font-size: 25px;
}
.cat .select .card p {
  padding: 10px 0;
}

.list {
  display: flex;
  justify-content: center;
}

.liste_cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
}
.liste_cont .tri {
  padding: 40px 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.liste_cont .tri #but {
  display: flex;
  align-items: center;
  background-color: #1c3e24;
  border: none;
  border-radius: 16px;
  padding: 5px 20px;
  color: white;
}
.liste_cont .tri a {
  text-decoration: none;
}
.liste_cont svg {
  width: 45px;
  height: 45px;
}
.liste_cont .container_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}
.liste_cont .container_list .product_card {
  margin: 40px 0;
  padding: 20px 0;
  width: 28%;
  background-color: white;
  border-radius: 70% 70% 12px 12px;
  padding: 20px 15px 25px 15px;
}
.liste_cont .container_list .product_card .top {
  height: 60%;
}
.liste_cont .container_list .product_card img {
  margin-top: -10%;
  max-width: 100%;
  height: auto;
}
.liste_cont .container_list .product_card a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1c3e24;
  border: none;
  border-radius: 16px;
  padding: 5px 20px;
  color: white;
}
.liste_cont .container_list .product_card p {
  padding: 20px 0;
}
.liste_cont .container_list .product_desc {
  padding-top: 40px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error {
  width: 100%;
  height: 100vh;
  background-color: #fce6da;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error h1 {
  display: flex;
  align-items: center;
  font-size: 155px;
}
.error h1 span {
  width: 155px;
  height: 255px;
  object-fit: cover;
}
.error h1 span img {
  margin-left: -30%;
  width: 255px;
  height: 255px;
}
.error a {
  font-size: 40px;
  color: black;
  text-decoration: none;
}

.detail_product {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 55px;
}
.detail_product section {
  width: 50%;
  background-color: white;
  border-radius: 50% 50% 12px 12px;
  margin-bottom: 55px;
}
.detail_product section .top_product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}
.detail_product section .top_product img {
  width: 500px;
  height: 550px;
  margin-top: -20%;
}
.detail_product section .details_desc {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}
.detail_product section .details_desc h1 {
  font-size: 40px;
  font-weight: 500;
  color: #1c3e24;
}
.detail_product section .details_desc h6 {
  font-size: 20px;
  font-weight: 400;
}
.detail_product section .details_desc h4 {
  padding: 20px 0px 5px 0px;
  font-size: 18px;
  color: #f7cdb7;
  font-weight: 400;
}
.detail_product section .details_desc .ingr {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.detail_product section .details_desc .ingr li {
  list-style-type: none;
  color: #f7cdb7;
  padding: 2px 20px;
  border: 2px solid #f7cdb7;
  border-radius: 12px;
}
.detail_product section .details_desc p {
  font-size: 14px;
}
.detail_product section .details_desc .add {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.detail_product section .details_desc .add a {
  text-decoration: none;
}
.detail_product section .details_desc .add a button {
  display: flex;
  align-items: center;
  background-color: #1c3e24;
  border: none;
  border-radius: 16px;
  padding: 5px 20px;
  color: white;
}
.detail_product section .details_desc .add a button span {
  padding: 0px 20px 0 0;
}
.detail_product section .details_desc .add a svg {
  width: 25px;
  height: 25px;
}
.detail_product .other {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}
.detail_product .card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: white;
  padding: 40px;
  margin: 20px 20px;
  border-radius: 12px;
  width: 46%;
}
.detail_product .card .photo {
  width: 40%;
}
.detail_product .card img {
  width: 100%;
  height: auto;
}
.detail_product .card .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail_product .card .description a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c3e24;
  border: none;
  border-radius: 16px;
  padding: 5px 20px;
  color: white;
  text-decoration: none;
}

.login {
  display: flex;
  flex-direction: row-reverse;
}
.login .form-container {
  font-family: "rubik";
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .form-container button {
  color: rgb(0, 0, 0);
  background-color: #fddac8;
  border: none;
  width: 100%;
}
.login div {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login p {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.login legend {
  padding-top: 5%;
  font-size: 18px;
  font-weight: bold;
}
.login a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.login button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #1c3e24;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.login button:active {
  transform: scale(0.95);
}
.login button:focus {
  outline: none;
}
.login button.ghost {
  background-color: transparent;
  border-color: #1c3e24;
}
.login form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0px 0px 50px;
  width: 50%;
  height: 100%;
  text-align: center;
}
.login input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.login h1 {
  font-weight: bold;
  margin: 20px 0;
}
.login .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}
.login .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.login .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.login .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
.login .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.login .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.login .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.login .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.login .overlay {
  background: #fce6da;
  background: -webkit-linear-gradient(to right, #fce6da, #fddac8);
  background: linear-gradient(to right, #fce6da, #fddac8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #1c3e24;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.login .container.right-panel-active .overlay {
  transform: translateX(50%);
}
.login .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.login .overlay-left {
  transform: translateX(-20%);
}
.login .container.right-panel-active .overlay-left {
  transform: translateX(0);
}
.login .overlay-right {
  right: 0;
  transform: translateX(0);
}
.login .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fce6da;
  font-family: "rubik";
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=app.css.map */
